* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
  width: 100%;
  line-height: 1.34;
  color: #1c1e21;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}

main {
  min-width: 300px;
  height: 720px;
  padding-top: 72px;
  padding-bottom: 112px;
  background: #f0f2f5;
}
.center {
  width: 980px;
  margin: 0 auto;
}
.main {
  padding: 20px 0;
}
section {
  float: left;
  width: 53%;
  height: auto;
}
.logo {
  width: 50%;
  padding-top: 112px;
  padding-bottom: 16px;
  display: block;
  display: inline-block;
}
.logo img {
  height: 48px;
}
section h2 {
  width: 99%;
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  padding-bottom: 20px;
  display: inline-block;
}
aside {
  float: right;
  width: 40%;
  height: auto;
}
form {
  margin: 40px 0 0;
  padding: 10px 0 24px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  text-align: center;
}
.field {
  width: 98%;
  height: 64px;
  margin: auto;
  padding: 6px 0px;
  position: relative;
}
.field .input,
.info {
  width: 97%;
  height: 52px;
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 16px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.field .input:focus,
.info:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e7f3ff;
  border: 1px solid #1877f2;
  caret-color: #1877f2;
}
.field img {
  cursor: pointer;
}
.eye {
  width: 16px;
  height: 16px;
  bottom: 24px;
  position: absolute;
  right: 14px;
}
.hidden {
  display: none;
}
.btn {
  margin: auto;
  margin-top: 6px;
  padding: 0 16px;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  cursor: pointer;
  display: inline-block;
}
.btn-login:hover {
  background-color: #166fe5;
}
.btn-login {
  width: 97%;
  font-size: 20px;
  background-color: #1877f2;
  border-color: #1877f2;
}
.btn-newacount {
  background-color: #42b72a;
  border-color: #42b72a;
  font-size: 17px;
  box-sizing: content-box;
  color: #fff;
}
.btn-newacount:hover {
  background-color: #36a420;
  border-color: #36a420;
}
.forget_password {
  margin-top: 16px;
}
.forget_password a {
  font-size: 14px;
  font-weight: 500;
  color: #1877f2;
}
.solid {
  margin: 20px 16px;
  border-bottom: 1px solid #dadde1;
}
.create_pages {
  margin-top: 28px;
  color: #1c1e21;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.create_pages a {
  font-weight: bold;
  font-size: 14px;
  color: #1c1e21;
}
.forget_password a:hover,
.create_pages a:hover {
  text-decoration: underline;
}

/* ------ footer ------ */
footer {
  width: 100%;
  padding-top: 20px;
}
.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list li,
.local i,
.meta {
  color: #8a8d91;
}
.local {
  padding-top: 8px;
}
.local li {
  padding-left: 10px;
}
.local li:first-child {
  padding-left: 0;
}
.local button {
  height: 20px;
  background-color: #eeeeee;
  border: 1px solid #ccd0d5;
  padding: 0 8px;
  border-radius: 2px;
}
.local img {
  height: 10px;
  display: block;
}
.solidfooter {
  width: 100%;
  height: 8px;
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 8px;
}
.option {
  width: 100%;
}
.option li {
  padding-left: 20px;
}
.optionfooter {
  margin-left: -20px;
}
footer li:hover {
  text-decoration: underline;
}
.meta {
  margin: 20px 0;
  font-size: 11px;
}
@media screen and (max-width: 1000px) {
  body,
  html {
    width: 100%;
  }
  .center {
    width: 100%;
  }
  section {
    padding-left: 20px;
    float: left;
  }
  section h2 {
    font-size: 24px;
  }
  aside {
    padding-right: 20px;
    float: right;
  }
  footer {
    width: 100%;
    padding: 20px 20px;
  }
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  body,
  html {
    width: 100%;
  }
  section {
    width: 98%;
  }
  section h2 {
    font-size: 20px;
  }
  .logo {
    padding-top: 0;
  }
  aside {
    width: 98%;
  }
  footer {
    width: 100%;
  }
}
